[submodule "pannotator"]
	path = pannotator
	url = https://github.com/sudochris/pannotator
[submodule "squashfeetdata"]
	path = squashfeetdata
	url = https://github.com/sudochris/squashfeetdata
[submodule "squashfeettoolkit"]
	path = squashfeettoolkit
	url = https://github.com/sudochris/squashfeettoolkit
